<nav class="navbar navbar-expand-lg navbar-dark bg-2-dark shadow">
                    <a id="show-sidebar" class="navbar-brand ml-0" href="#">
                      <i class="fas fa-bars"></i>
                    </a>
                    <a class="navbar-brand ml-1" href="{{path('welcome_page')}}"><span>AvcDoctor</span></a>
                    <a class="nav-link fa fa-home ml-2 text-light" href="{{path('welcome_page')}}"><span>Acceuil</span></a>
                      <ul class="navbar-nav ml-auto text-light">
                      {% if app.user %}  
                        <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="accountDropdownlink" data-toggle="dropdown">
                        <img src="{{app.user.avatar}}" alt="avatar" class="avatar avatar-small">  {{app.user.firstname}} {{app.user.lastname}}
                        </a>  
                        <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="accountDropdownlink">
                          <a href="#" class="dropdown-item fa"><i class="fa fa-desktop"></i> <span>Mon compte</span>  </a>
                          <a href="#" class="dropdown-item fa"><i class="fa fa-edit "></i> <span>Paramétre</span> </a>
                          <hr>
                          <a href="{{path('admin_logout')}}" class="dropdown-item fa"><i class="fa fa-sign-out-alt"></i><span>Déconnexion</span></a>
                        </div>  
                        </li> 
                      {% else %}
                        <li class="nav-item active fa">
                            <a href="{{path('welcome_page')}}" class="nav-link fa"> <i class="fa fa-user-circle"></i> <span>Connexion</span></a>
                        </li>
                      {% endif %}   
                      </ul>
                    </div>
</nav>