<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 4">
    <title> {% block title %}Avc-Doctor{% endblock %} </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
{% block styles %}
{% endblock %}
</head>
<body>
<div class="page-wrapper chiller-theme toggled">
      <button id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <a href="{{path('welcome_page')}}">avc doctor</a>
          <div id="close-sidebar">
              <i class="far fa-window-close"></i>
            </div>
          </div>
              <div class="sidebar-header">
              {% if app.user %}
                  <div class="user-pic">
                    <img src="{{app.user.avatar}}" alt="User picture">
                  </div>
                  <div class="user-info">
                    <span class="user-name"><strong>{{app.user.firstname}}</strong>
                    {{app.user.lastname}}
                    </span>
                    <span class="user-role">
                      {% if 'ROLE_ADMIN' in app.user.getRoles %}
                        Administrateur
                      {% elseif 'ROLE_DOCTOR' in app.user.getRoles %}
                        Docteur
                      {% else %} 
                        Patient
                      {% endif %}
                    </span>
                    <span class="user-status">
                      <i class="fa fa-circle fa-xs text-success"></i>
                      <span>Online</span>
                    </span>
                  </div>
                {% else %}
                  <div class="user-pic">
                    <img src="/images/A-avatar.png" alt="User picture">
                  </div>
                  <div class="user-info">
                    <span class="user-name"><strong>Visiteur anonyme</strong>
                    </span>
                    <span class="user-status">
                      <i class="fa fa-circle fa-xs text-danger"></i>
                    <span>Offline</span>
                    </span>
                  </div>
              {% endif %}
          </div>
          <!-- sidebar-header  -->
          {% if app.user %} 
          <div class="sidebar-search">
            <div>
              <div class="input-group">
                <input id="sidenav-Search"type="text" class="form-control search-menu" placeholder="Chercher...">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                  <span class="badge badge-pill badge-warning">New</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">Dashboard 1
                        <span class="badge badge-pill badge-success">Pro</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">Dashboard 2</a>
                    </li>
                    <li>
                      <a href="#">Dashboard 3</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="far fa-gem"></i>
                  <span>Components</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">General</a>
                    </li>
                    <li>
                      <a href="#">Panels</a>
                    </li>
                    <li>
                      <a href="#">Tables</a>
                    </li>
                    <li>
                      <a href="#">Icons</a>
                    </li>
                    <li>
                      <a href="#">Forms</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-chart-line"></i>
                  <span>Charts</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">Pie chart</a>
                    </li>
                    <li>
                      <a href="#">Line chart</a>
                    </li>
                    <li>
                      <a href="#">Bar chart</a>
                    </li>
                    <li>
                      <a href="#">Histogram</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fas fa-globe"></i>
                  <span>Maps</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">Google maps</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header-menu">
                <span>Guide d'utilisation</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-book"></i>
                  <span>Documentation</span>
                </a>
              </li> 
              <li class="header-menu">
                <span>Compte</span>
              </li>
              <li>
                <a href="{{path('account_profile',{id:app.user.id})}}">
                  <i class="fa fa-desktop"></i>
                  <span>Profil</span>
                </a>
              </li>
              <li>  
                <a href="#">
                  <i class="fa fa-edit"></i>
                  <span>Edit Profil</span> 
                </a>
                </li>
                <hr>
              <li>
                <a href="{{path('admin_logout')}}">
                  <i class="fa fa-sign-out-alt"></i>
                  <span>Déconnexion</span></a>
              </li>
            </ul>
          </div>
          {% else %}
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                    <span class="badge badge-pill badge-warning">New</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Dashboard 1
                          <span class="badge badge-pill badge-success">Pro</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">Dashboard 2</a>
                      </li>
                      <li>
                        <a href="#">Dashboard 3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>E-commerce</span>
                    <span class="badge badge-pill badge-danger">3</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Products

                        </a>
                      </li>
                      <li>
                        <a href="#">Orders</a>
                      </li>
                      <li>
                        <a href="#">Credit cart</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="far fa-gem"></i>
                    <span>Components</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">General</a>
                      </li>
                      <li>
                        <a href="#">Panels</a>
                      </li>
                      <li>
                        <a href="#">Tables</a>
                      </li>
                      <li>
                        <a href="#">Icons</a>
                      </li>
                      <li>
                        <a href="#">Forms</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-chart-line"></i>
                    <span>Charts</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Pie chart</a>
                      </li>
                      <li>
                        <a href="#">Line chart</a>
                      </li>
                      <li>
                        <a href="#">Bar chart</a>
                      </li>
                      <li>
                        <a href="#">Histogram</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fas fa-globe"></i>
                    <span>Maps</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Google maps</a>
                      </li>
                      <li>
                        <a href="#">Open street map</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header-menu">
                  <span>Guide d'utilisation</span>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Documentation</span>
                  </a>
                </li> 
                <li class="header-menu">
                  <span>Compte</span>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span>Profil</span>
                  </a>
                </li>
                <li>  
                  <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>Edit Profil</span> 
                  </a>
                  </li>
                  <hr>
                <li>
                  <a href="{{path('admin_logout')}}">
                    <i class="fa fa-sign-in-alt"></i>
                    <span>Connexion</span></a>
                </li>

              </ul>
            </div>
          {% endif %}
          <!-- sidebar-menu  -->
        </div>
      </nav>
  <!-- sidebar-wrapper  -->
    <main class="page-content">
      {% block main %}  
      {% endblock %}
    </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script>
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
}); 
$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
}); 
</script>
{% block javascript %}{% endblock %}
</html>