<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Avc Docteur{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
    <link href="{{ asset('css/all.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
    <link rel="stylesheet" href="{{asset('css/style4.css')}}">
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/popper.min.js')}}" ></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% block style %}
    {% endblock %}
    
</head>
{% block body %}
<body onload="loadfun()">

<div id="loading"></div>
    <div class="wrapper">
        {% if is_granted('ROLE_ADMIN') %}
            <img src="{{ asset('images/nyc.png') }}" alt="#" class="bgimageopacity">
        {% else %}
            <img src="{{ asset('images/w-h.jpg') }}" alt="#" class="bgimageopacity">
        {% endif %}
        <!-- Sidebar  -->
        <div id="sidebar" class="shadow">
            <div class="sidebar-header sticky-top">
                {% if app.user %}
                <img src="{{app.user.avatar}}" class="avatar avatar-meduim mr-1" alt="#">
                <div class="user-info">
                    <spann class="user-name"><strong><em>{{app.user.firstname}}</em></strong>
                    <em>{{app.user.lastname}}</em>
                    </spann>
                    <spann class="user-role">
                        <strong>{% if is_granted('ROLE_ADMIN') %}
                                    Admin
                                {% elseif is_granted('ROLE_DOCTOR') %}
                                    Docteur
                                {% else %}
                                    Patient
                                {% endif %}
                        </strong> 
                    </spann>
                    <spann class="user-status">
                      <i class="fas fa-circle text-success"></i>
                      <spann>En ligne</spann>
                    </spann>
                </div>    
                {% else %}
                <img src="{{asset('images/A-avatar.png')}}" class="avatar avatar-meduim mr-1" alt="#">
                <div class="user-info">
                    <spann class="user-name"><strong>Visiteur</strong>
                    <em>Anonyme</em>
                    </spann>
                    <spann class="user-status">
                      <i class="fas fa-circle text-danger"></i>
                      <spann>Hors ligne</spann>
                    </spann>
                </div>
                {% endif %}
            </div>
        <div class="sidebar-wrapper w-100 h-100 d-flex {% if not app.user %}align-items-center{% endif %}">
            <ul class="list-unstyled sdb-components">
                {% if app.user %}
                <li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('admin_home')}}" id="sidebar-ref">
                        <i class="avatar-small" id="home-logo"></i>
                        <span>Accueil</span>
                    </a>
                    {% else%}
                    <a href="{{path('dash_home')}}" id="sidebar-ref">
                        <i class="avatar-small" id="home-logo"></i>
                        <span>Accueil</span>
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" id="sidebar-ref">
                        <i class="avatar-small" id="dash-logo"></i>
                        <span>Panneau</span>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            {% if is_granted("ROLE_DOCTOR") %}
                                <a href="{{ path('patient_list') }}" id="ref-pat"><i class="far fa-user-circle"></i> Patients</a>
                            {% elseif is_granted("ROLE_ADMIN")  %}
                                <a href="{{ path('doctors_list') }}" id="ref-pat"><i class="fas fa-user-md"></i> Docteurs</a>
                            {% else %}
                            <a href="{{path('patient_data',{'id':app.user.id})}}"><i class="fas fa-chart-line"></i> Bilan</a>
                            {% endif %} 
                        </li>
                        <li>
                            <a href="{{path('sensor_gateway')}}"><i class="fab fa-bluetooth-b"></i>  Dispositifs</a>
                        </li>
                    </ul>
                </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                        <a href="#statsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" id="sidebar-ref">
                            <i class="avatar-small" id="data-center-logo"></i>
                                <span>surveillance</span>
                        </a>
                        <ul class="collapse list-unstyled" id="statsSubmenu">
                            <li>
                                <a href="{{ path('admin_webserver') }}">
                                    <span class="iconify m-1" data-icon="simple-icons:apache" data-inline="false"></span>
                                    Machine hôte
                                </a>
                            </li>
                            <li><a href="{{path('admin_postgresql')}}">
                                    <span class="iconify m-1" data-icon="simple-icons:postgresql" data-inline="false"></span>
                                    Postgres
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_mqtt') }}">
                                    <span class="iconify m-1" data-icon="carbon:router-wifi" data-inline="false"></span>Emqx MQTT
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_cassandra') }}">
                                    <span class="iconify m-1" data-icon="simple-icons:apachecassandra" data-inline="false"></span>Cassandra
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_kafka') }}" id="ref-pat">
                                    <span class="iconify m-1" data-icon="simple-icons:apachekafka" data-inline="false"></span>
                                    Kafka
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% else %}
                    <li>
                            <a href="{{ path('randez_vous') }}" id="sidebar-ref">
                                <i class="avatar-small" id="calendar-logo"></i>
                                <span>Randez-vous</span>
                            </a>

                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('complaint_home') }}" id="sidebar-ref">
                            <i class="avatar-small" id="compl-logo"></i>
                            <span>Réclamations</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_DOCTOR') %}
                    <li>
                        <a href="{{ path('map_patient') }}" id="sidebar-ref">
                            <i class="avatar-small" id="map-logo"></i>
                            <span>Carte</span>
                        </a>
                    </li>
                {% endif %}
                {% if app.user and is_granted('ROLE_ADMIN') == false %}
                <hr class="bg-theme-inv">
                <li>
                    <a href="{{ path('account_profile',{id:app.user.id}) }}" id="sidebar-ref">
                        <i class="avatar-small" id="profil-logo"></i>
                        <span>Profil</span>
                    </a>
                </li>
                {% endif %}
                <hr class="bg-theme-inv">
                <li>
                    <a href="#" id="sidebar-ref">
                        <i class="avatar-small" id="guide-logo"></i>
                        <span>Guide</span>
                    </a>
                </li>
                <hr class="bg-theme-inv">
                {% if app.user %}
                <li class="mb-3">
                    <a href="{{path('User_logout')}}" id="sidebar-ref">
                        <i class="avatar-small" id="logout-logo"></i>
                        <span>Déconnexion</span>
                    </a>
                </li>
                    <br><br>
                {% else %}
                <li class="mb-0">    
                    <a href="{{path('welcome_page')}}" id="sidebar-ref">
                        <i class="avatar-small" id="login-logo"></i>
                        <span>Connexion</span>
                    </a>
                    <hr class="bg-theme-inv">
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-flex" id="sidebar-logo-container">
            <img src="{{asset('images/favicon.png')}}" alt="#" id="sidebar-logo">
        </div>
    </div>
        <!-- Page Content  -->
        <div id="content">
                <nav class="navbar navbar-expand-md shadow sticky-top d-flex align-items-center">
                        <div id="sidebarCollapse" class="d-none d-md-flex btn-link">
                            <div class="hamburger hamburger--elastic btn-link" type="button">
                                  <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                  </span>
                            </div>
                        </div>
                        <a href="{{path('welcome_page')}}" class="d-flex ml-2 justify-content-md-center">
                            <div class="navbar-brand" id="textlogo"></div>
                        </a>
                        <a class="d-inline-block d-md-none ml-auto navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-chevron-down" id="navbar-togg"></i>
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="ml-md-auto align-items-center justify-content-center row d-flex">
                                {% if app.user %}
                                <div class="nav-item col-3 col-md-2">
                                    <a class="nav-link" href="#"><i class="avatar-micro nav-icon" id="cal-alert-logo"></i><span class="badge badge-pill badge-danger notification">9+</span></a>
                                </div>
                                <div class="nav-item col-md-2 col-3 mr-1">
                                    <a class="nav-link" href="#"><i class="avatar-micro nav-icon" id="compl-logo"></i><span class="badge badge-pill badge-danger notification">9+</span>
                                    </a>
                                </div>
                                {% endif %}
                                <div class="nav-item col-md-3 col-3 m-auto align-content-center">
                                    <div class="custom-control custom-switch theme-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitchTheme">
                                        <label class="custom-control-label" for="customSwitchTheme"></label>
                                    </div>
                                </div>
                                <div class="col-2 m-auto">
                                    {% if app.user %}
                                        <img src="{{app.user.avatar}}" alt="#" class="avatar avatar-small">   
                                    {% else %}
                                    <img src="{{asset('images/A-avatar.png')}}" alt="#" class="avatar avatar-small">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </nav>
                <div id="page-content" class="mt-5 mb-5 m-sm-auto">
                    {% block main %}

                    {% endblock main %}
                </div>
            </div>
    </div>
</body>
{% endblock body %}
{% block javascript %}
{% endblock %}
<script>
    function loadfun(){
        $("#loading").fadeOut(500);
    }
    </script>
</html>
