{% extends 'partials/_sideNav2.html.twig' %}

{% block main %}
    <div class="container-fluid row d-flex w-100 h-100 justify-content-center align-items-center">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
        <div class="d-none d-md-inline col-md-7 p-2">
            <img src="{{asset('images/forgot-password.png')}}" class="w-100 h-100" alt="password">
        </div>
        <div class="col-sm-10 col-md-5 p-2">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title title text-center text-mui m-2 my-title">Réinitialiser mot de passe</h3>
                <br>
                <div class="card-body">
                    <div class="card-subtitle my-title my-small-title">
                        Entrez votre e-mail. 
                    </div>
                    <br>
                    {{ form_start(requestForm) }}
                        <div class="row form-group">
                        <div class="col-12">
                                {{form_errors(requestForm.email)}}
                                {{form_label(requestForm.email) }}
                                <div class="input-with-icon d-flex align-items-center">
                                    {{form_widget(requestForm.email) }}
                                    <i class="far fa-envelope"></i>
                                </div>
                                <small>{{ form_help(requestForm.email) }}</small>
                            </div>
                        </div>
                        <small class="my-av-title my-micro-title">
                                Nous vous enverrons un lien pour réinitialiser votre mot de passe.
                        </small>
                        <hr>
                        <div class="text-center">
                            <button class="btn btn-sm bg-1-lightpink"><i class="far fa-paper-plane"></i> Envoyer e-mail</button>
                        </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}