{% extends 'partials/_sideNav2.html.twig' %}

{% block main %}

<div class="container-fluid d-flex justify-content-center mt-2 mb-3">
    <div class="col-11 col-md-9">
        <div class="card">
            <div class="modal-header">
                <span class="d-flex align-content-center">
                    <img src="{{ asset('images/microcontroller.svg') }}" alt="#" class="avatar-small">
                    <p class="my-title ml-1">Nouvelle paquet de capteur </p>
                </span>
            </div>
            <div class="card-body mb-2">
                <div class="container-fluid p-0">
                    {{ form_start(form) }}
                    <div class="row form-group">
                        <div class="col-12">
                            {{form_errors(form.sensor_gateway_id)}}
                            {{form_label(form.sensor_gateway_id) }}
                            <div class="input-with-icon d-flex align-items-center">
                                {{form_widget(form.sensor_gateway_id) }}
                                <img src="{{ asset('images/detector.svg') }}" alt="#" class="avatar-micro" style="margin-left: -35px;cursor: pointer;opacity: 0.8;">
                            </div>
                            <small>{{ form_help(form.sensor_gateway_id) }}</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-6">
                            {{form_errors(form.glycose_sensor)}}
                            {{form_label(form.glycose_sensor) }}
                            <div class="input-with-icon d-flex align-items-center">
                                {{form_widget(form.glycose_sensor) }}
                                <img src="{{ asset('images/gluc.svg') }}" alt="#" class="avatar-micro" style="margin-left: -35px;cursor: pointer;opacity: 0.8;">
                            </div>
                            <small>{{ form_help(form.glycose_sensor) }}</small>
                        </div>
                        <div class="col-12 col-md-6">
                            {{form_errors(form.temperature_sensor)}}
                            {{form_label(form.temperature_sensor) }}
                            <div class="input-with-icon d-flex align-items-center">
                                {{form_widget(form.temperature_sensor) }}
                                <img src="{{ asset('images/thermometer.svg') }}" alt="#" class="avatar-micro" style="margin-left: -35px;cursor: pointer;opacity: 0.8;">
                            </div>
                            <small>{{ form_help(form.temperature_sensor) }}</small>
                        </div>
                        <div class="col-12 col-md-6">
                            {{form_errors(form.oxygene_sensor)}}
                            {{form_label(form.oxygene_sensor) }}
                            <div class="input-with-icon d-flex align-items-center">
                                {{form_widget(form.oxygene_sensor) }}
                                <img src="{{ asset('images/oxygen.svg') }}" alt="#" class="avatar-micro" style="margin-left: -35px;cursor: pointer;opacity: 0.8;">
                            </div>
                            <small>{{ form_help(form.oxygene_sensor) }}</small>
                        </div>
                        <div class="col-12 col-md-6">
                            {{form_errors(form.bp_sensor)}}
                            {{form_label(form.bp_sensor) }}
                            <div class="input-with-icon d-flex align-items-center">
                                {{form_widget(form.bp_sensor) }}
                                <img src="{{ asset('images/bp.svg') }}" alt="#" class="avatar-micro" style="margin-left: -35px;cursor: pointer;opacity: 0.8;">
                            </div>
                            <small>{{ form_help(form.bp_sensor) }}</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            {{form_errors(form.weight_sensor)}}
                            {{form_label(form.weight_sensor) }}
                            <div class="input-with-icon d-flex align-items-center">
                                {{form_widget(form.weight_sensor) }}
                                <img src="{{ asset('images/weigh.svg') }}" alt="#" class="avatar-micro" style="margin-left: -35px;cursor: pointer;opacity: 0.8;">
                            </div>
                            <small>{{ form_help(form.weight_sensor) }}</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            {{form_errors(form.is_Active)}}
                            <div class="col-6 ml-3">
                            {{form_label(form.is_Active) }}
                            </div>
                            <div class="col-6">
                                {{form_widget(form.is_Active) }}
                            </div>
                            <small>{{ form_help(form.is_Active) }}</small>
                        </div>
                        <div class="col-12">
                            {{form_errors(form.deploy_date)}}
                            {{form_label(form.deploy_date) }}
                            {{form_widget(form.deploy_date) }}
                            <small>{{ form_help(form.deploy_date) }}</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            {{form_errors(form.patient_sg)}}
                            {{form_label(form.patient_sg) }}
                            <div class="input-with-icon d-flex align-items-center">
                                {{form_widget(form.patient_sg) }}
                                <i class="far fa-user"></i>
                            </div>
                            <small>{{ form_help(form.patient_sg) }}</small>
                        </div>
                    </div>
                    <hr class="bg-dark">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>  Confirmer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<br>
<br>
{% endblock main %}