{% extends "partials/_sideNav2.html.twig" %}
{% block title %}Gérer Réclamations{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/css/B4datatables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block main %}
    {% for label , message in app.flashes %}
        <div class="toast toast-{{label}}" role="alert" aria-atomic="true" style="z-index: 1000;position:absolute;top: 0;right: 0" data-animation="true" data-auhide="true" data-delay="5000" aria-live="assertive" aria-atomic="true">
            <div class="toast-header toast-{{label}}">
                <strong class="mr-auto"><i class="fas fa-check-circle"></i> Succès!</strong>
                <small>à l'instant</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {% if label == 'warning' %}
                    {% for msg in message %}
                        <p>
                            <i class="fas fa-reload"></i>
                            <img class="avatar-small" src="{{ asset('images/complain.svg') }}" alt="#"> {{ msg | raw }}
                        </p>
                    {% endfor %}
                {% elseif label=='success' %}
                    {% for msg in message %}
                        <p>
                            <i class="fas fa-plus"></i>
                            <img class="avatar-small" src="{{ asset('images/complain.svg') }}" alt="#"> {{ msg | raw }}
                        </p>
                    {% endfor %}
                {% elseif label == 'danger' %}
                    {% for msg in message %}
                        <p> <i class="fas fa-minus"></i><img class="avatar-small" alt="#" src="{{ asset('images/complain.svg') }}"> {{ msg | raw }} </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="container-fluid m-0 mb-5 mt-3 ">
        <div class="mb-3 card-body my-title d-flex bg-1-lightpink align-items-center rounded">
            <div class="mr-auto">Gestion des Réclamations</div>
            <div class="ml-auto">
                <button id="newreclamation" {% if is_granted('ROLE_ADMIN') %}disabled{%endif %} class="btn text-white bg-2-dark row d-flex align-items-center">
                    <i class="fas fa-plus"></i><img src="{{ asset('/images/complain-d.svg') }}" class="avatar-small" alt="#">
                </button>
            </div>
        </div>

        <div class="d-flex mt-3 mb-5 card shadow rounded p-2 w-100">
            <div class="spinner" id="loader"></div>
            <table id="datatable" class="table table-sm table-stripped table-bordered hover compact d-none w-100 ">
                <thead>
                <tr>
                    <th scope="col"><i class="fas fa-bug"></i> Type</th>
                    <th scope="col"><i class="far fa-file-alt"></i> Description</th>
                    <th scope="col"><i class="fas fa-power-off"></i> État</th>
                    <th scope="col"><i class="far fa-user"></i> Utilisateur</th>
                    <th scope="col"><i class="far fa-calendar-alt"></i> Créer le</th>
                    <th scope="col"><i class="fas fa-users-cog"></i> Actions</th>
                </tr>
                </thead>
                <tbody class='text-center'>
                </tbody>
            </table>
        </div>

    <div tabindex="-1" class="modal fade" id="confirmModal" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-scrollable">
            <div class="modal-content">
                    <div class="modal-header">
                        <div class="my-title d-flex align-items-center">
                                <i class="fas fa-minus "></i>
                                <img src="{{ asset('images/complain.svg') }}" class="avatar-small mr-2" alt="#">
                                <span>Supprimer réclamation</span>
                        </div>
                        <i class="far fa-times-circle close" type="button" aria-hidden="true" data-dismiss="modal"></i>
                    </div>
                    <div class="modal-body text-center">
                        <bold>Voulez vous vraiment supprimer cette réclamation!</bold>
                        <p>Cette opération est irréversible</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <form method="post" id="formdel">
                            <button type="submit" id="confdel" class="btn btn-warning"><i class="fas fa-exclamation-triangle"></i> Confirmer suppression</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>

{% include "complaint/new.html.twig" with {modalID:"newrec",form:form} %}

{% endblock main %}

{% block javascript %}
<script src="{{ asset('js/JQdatatable.js')}}" ></script>
<script src="{{ asset('js/Datatables.bootstrap.js')}}"></script>
<script src="{{asset('js/responsivetables.js')}}"></script>
<script src="{{asset('js/DtB4resp.js')}}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                url:"/complaint/list",
                method:"GET",
                dataType:"json",
                async:true,
                success:function(data){
                    $('#datatable').DataTable({
                        "pagingType": "simple_numbers",
                        responsive:true,
                        "language": {
                        "url": "{{ asset('js/DataTable_Frensh.json') }}"
                        },
                        data:data,
                        columns:[
                            {'data':'type'},
                            {'data':'description',
                                "render":function (data, type, JsonResultRow) {
                                        return`<div class="container-fluid p-0 text-break" id="table-desc">
                                                    <small class="text-break" id="table-desc">
                                                        ${JsonResultRow.description}
                                                    </small>
                                                </div>`;}
                            },
                            {'data':'state',
                                "render": function (data, type, JsonResultRow) {
                                    if ( JsonResultRow.state == true){
                                    return `<i class="fas fa-check-double text-success"></i>`;
                                    }
                                    else{
                                        return `<i class="fas fa-spinner text-danger"></i>`;
                                    }
                                }
                            },
                            {'data':'avatar',
                             "render": function (data, type, JsonResultRow, meta) {
                            return `<a href="/profil/${JsonResultRow.id}" class="container-fluid row d-flex justify-content-center">
                                        <img class="avatar avatar-small" src="${JsonResultRow.avatar}" alt="#">
                                        <div><small>${JsonResultRow.fname}</small> <small>${JsonResultRow.lname}</small></div>
                                    </a>`;
                                }},
                            {'data':'date'},
                            {'data':'id',
                            "render":function(data,type,JsonResultRow,meta){
                                return  '<a class="m-2 delete text-danger" id="'+JsonResultRow.id+'"><i class="far fa-trash-alt"></i></a>' +
                                        '<a href="/complaint/'+JsonResultRow.id+'/edit" class="m-2 text-primary"><i class="far fa-edit"></i></a>'
                                }
                            }

                        ],
                    });
                }
            }).done(function(){
                $("#loader").hide();
                $("#datatable").removeClass('d-none');
            });
        });

    $(document).on('click','.delete',function(){
        let rec_id=$(this).attr('id');
        $('#confirmModal').modal('show');
        $('#formdel').attr("action","/complaint/"+rec_id+"/delete");
        });
        $(document).on('click','.update',function(){
            let rec_id=$(this).attr('id');
            $('#updaterec').modal('show');
            $.post("/complaint/"+rec_id+"/edit",function (response) {
                $('#updaterec .modal-body').html(`${response}`);
            })
        });

        $(document).on('click','#newreclamation',function(){
        $("#newrec").modal('show');
        });
    </script>
{% endblock %}