{% extends 'partials/_sideNav2.html.twig' %}
{% block style %}
	<link rel="stylesheet" href="{{ asset('css/apexcharts.css') }}">
{% endblock %}
{% block main %}
	<div class="container-fluid m-1 mb-5">
		<div class="row p-sm-4 p-2 d-flex justify-content-center">
			<div class="card card-inverse shadow rounded col-12 col-md-10">
				<div class="card-block m-1 m-sm-3">
					<div class="row d-flex justify-content-center">
						<div class="col-12 col-sm-8">
							<span class="my-title my-small-title">
								<strong><img class="avatar-small" src="{{asset('images/patient.svg')}}">
									Patient:</strong>
								{{user.firstname}}
								{{user.lastname}}
							</span>
							<p class="card-text mt-2">
								<strong><img src="{{asset('images/body-scan.svg')}}" class="avatar-small" alt="">
									Info :
								</strong>
								<span class="badge bg-light my-title my-small-title">
									<i class="fas fa-birthday-cake"></i>
									{{user.birthdate|date('d-m-Y')}}</span>
								<span class="badge bg-light my-title my-small-title"><img src="{{asset('images/growing-up.svg')}}" alt="" class="avatar-micro">{{user.age}}
									ans</span>
								<span class="badge bg-light my-title my-small-title">
									<i class="fas fa-ruler-vertical"></i>
									180 cm</span>
								<span class="badge bg-light my-title my-small-title">
									<i class="fas fa-weight"></i>
									80 kg</span>
							</p>
						</div>
						<div class="col-md-4 col-sm-4 text-center mt-3">
							<img class="avatar-large rounded shadow img-thumbnail" src="{{user.avatar}}" alt="">
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-12">
							<div class="badge w-100 card-b-bg text-white">
								<img src="{{asset('images/add.svg')}}" alt="#" class="avatar-small mr-2">
								joindre le :
								{{user.createdAt | date('d-m-Y')}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="col-12 text-center card shadow mt-5 rounded">
            <div class="my-title my-small-title">Période d'observation:</div>
            <div class="card-body row d-flex justify-content-center">
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-6 form-group">
                        <div class="input-group">
                            <input type="date" value="" id="datepicker-from" class="form-control">
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <div class="input-group">
                            <input type="date" id="datepicker-to" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-sm-flex text-center justify-content-center" >
                    <button class="btn bg-1-lightpink btn-sm" id="refresh">
                        Changer période <i class="fas fa-retweet"></i>
                    </button>
                    <div class="btn-group-sm">
                        <button class="btn btn-primary mt-1 ml-sm-3 mt-sm-0" id="live">
                            En direct <i class="fas fa-satellite-dish"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger mt-1 ml-sm-3 mt-sm-0" id="stop">
                            Fermer <i class="far fa-stop-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
		<div class="row mt-3 mb-5">
			<div class="container-fluid card bg-transparent shadow p-0">
				<ul class="nav nav-tabs shadow-lg bg-white" id="myTab" role="tablist">
					<li class="nav-item col-lg-2 col-sm-4 col-6 p-1">
						<a class="nav-link  nav-tab-deco active" data-toggle="tab" href="#tab1" role="tab" aria-controls="blood sugar" aria-expanded="true">
							<img class="avatar-small" src="{{asset('images/gluc.svg')}}" alt="">
						</a>
					</li>
					<li class="nav-item col-lg-2 col-sm-4 col-6 p-1">
						<a class="nav-link  nav-tab-deco" data-toggle="tab" href="#tab2" role="tab" aria-controls="blood sugar" aria-expanded="true">
							<img class="avatar-small" src="{{asset('images/thermometer.svg')}}" alt="">
						</a>
					</li>
					<li class="nav-item col-lg-2 col-sm-4 col-6 p-1">
						<a class="nav-link  nav-tab-deco" data-toggle="tab" href="#tab3" role="tab" aria-controls="o2 blood" aria-expanded="true">
							<img class="avatar-small" src="{{asset('images/oxygen.svg')}}" alt="">
						</a>
					</li>
					<li class="nav-item col-lg-2 col-sm-4 col-6 p-1">
						<a class="nav-link nav-tab-deco" data-toggle="tab" href="#tab4" role="tab" aria-controls="blood pressure" aria-expanded="true">
							<img class="avatar-small" src="{{asset('images/bp.svg')}}" alt="">
						</a>
					</li>
					<li class="nav-item col-lg-2 col-sm-4 col-6 p-1">
						<a class="nav-link nav-tab-deco" data-toggle="tab" href="#tab5" role="tab" aria-controls="heart rate" aria-expanded="true">
							<img class="avatar-small" src="{{asset('images/hb.svg')}}" alt="">
						</a>
					</li>
					<li class="nav-item col-lg-2 col-sm-4 col-6 p-1">
						<a class="nav-link nav-tab-deco" data-toggle="tab" href="#tab6" role="tab" aria-controls="weight" aria-expanded="true">
							<img class="avatar-small" src="{{asset('images/weigh.svg')}}" alt="">
						</a>
					</li>
				</ul>
				<div class="tab-content container-fluid bg-transparent p-0" id="myTabContent">
					<div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="1-tab">
						<div class="tab-pane-header bg-transparent">
							<div class="col-12 text-center bg-white shadow mb-2">
								<span class="card-title my-title">Glycémie</span>
								<p class="card-text">Taux de glucose dans le sang.</p>
							</div>
							<div class="container-fluid p-0" id="tab-content">
								<div class="row pr-3 pl-3 d-flex justify-content-center align-items-center">
									<div class="spinner" id="loader"></div>
									<div class="col-12 card shadow">
										<div id="gly-line2" class="h-75 d-none"></div>
										<div id="gly-line" class="h-25"></div>
									</div>
									<div class="col-12 mt-4">
										<div class="row d-flex justify-content-center">
											<div class="col-12 col-sm-10 col-lg-8 card shadow p-3 d-none" id="live_gly_pie"></div>
												<div id="glypie" class="col-10 col-md-5 card shadow mr-md-auto"></div>
												<div id="glypie2" class="col-10 col-md-5 card shadow mt-2 mt-md-0 ml-md-auto"></div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" id="tab2" role="tabpanel" aria-labelledby="2-tab">
						<div class="tab-pane-header bg-transparent">
							<div class="col-12 text-center bg-white shadow">
								<span class="card-title mb-2 my-title">Température Corporelle</span>
							</div>
							<div class="container-fluid p-0" id="tab-content">
								<div class="row pr-3 pl-3 d-flex justify-content-center align-items-center">
									<div class="col-12 card shadow">
										<div id="temp-line2" class="h-75 d-none"></div>
										<div id="temp-line" class="h-25"></div>
									</div>
									<div class="col-12 mt-4">
										<div class="row d-flex justify-content-center">
											<div class="col-12 col-sm-10 col-lg-8 card shadow p-3 d-none" id="live_temp_pie"></div>
											<div id="temppie" class="col-10 col-md-5 card shadow mr-md-auto"></div>
											<div id="temppie2" class="col-10 col-md-5 card shadow mt-2 mt-md-0 ml-md-auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" id="tab3" role="tabpanel" aria-labelledby="3-tab">
						<div class="tab-pane-header bg-transparent">
							<div class="col-12 text-center bg-white shadow">
								<span class="card-title my-title">Saturation en Oxygéne O2</span>
								<p class="card-text mb-2">Taux d'oxygène contenu dans les globules rouges après leur passage dans les poumons.</p>
							</div>
							<div class="container-fluid p-0" id="tab-content">
								<div class="row pr-3 pl-3 d-flex justify-content-center align-items-center">
									<div class="col-12 card shadow">
										<div id="oxy-line2" class="h-75 d-none"></div>
										<div id="oxy-line" class="h-25"></div>
									</div>
									<div class="col-12 mt-4">
										<div class="row d-flex justify-content-center">
											<div class="col-12 col-sm-10 col-lg-8 card shadow p-3 d-none" id="live_oxy_pie"></div>
											<div id="oxypie" class="col-10 col-md-5 card shadow mr-md-auto"></div>
											<div id="oxypie2" class="col-10 col-md-5 card shadow mt-2 h-50 mt-md-0 ml-md-auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" id="tab4" role="tabpanel" aria-labelledby="4-tab">
						<div class="tab-pane-header bg-transparent">
							<div class="col-12 text-center bg-white shadow">
								<span class="card-title my-title">Tension Artérielle </span>
								<p class="card-text mb-2">C’est la pression qui règne à l’intérieur des artères.</p>
							</div>
							<div class="container-fluid p-0" id="tab-content">
								<div class="row pr-3 pl-3 d-flex justify-content-center align-items-center">
									<div class="col-12 card shadow">
										<div id="tension-line2" class="h-75 d-none"></div>
										<div id="tension-line" class="h-25"></div>
									</div>
									<div class="col-12 mt-4">
										<div class="row d-flex justify-content-center">
											<div class="col-12 col-sm-10 col-lg-8 card shadow p-3 d-none" id="live_tension_pie"></div>
											<div id="tensionpie" class="col-10 col-md-5 card shadow mr-md-auto"></div>
											<div id="tensionpie2" class="col-10 col-md-5 card shadow mt-2 mt-md-0 ml-md-auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" id="tab5" role="tabpanel" aria-labelledby="5-tab">
						<div class="tab-pane-header bg-transparent">
							<div class="col-12 text-center bg-white shadow">
								<span class="card-title my-title">Fréquence Cardiaque</span>
								<p class="card-text mb-2">Décrit le nombre de battements mesurés par minute (BPM).</p>
							</div>
							<div class="container-fluid p-0" id="tab-content">
								<div class="row pr-3 pl-3 d-flex justify-content-center align-items-center">
									<div class="col-12 card shadow">
										<div id="heart-line2" class="h-75 d-none"></div>
										<div id="heart-line" class="h-25"></div>
									</div>
									<div class="col-12 mt-4">
										<div class="row d-flex justify-content-center">
											<div class="col-12 col-sm-10 col-lg-8 card shadow p-3 d-none" id="live_heart_pie"></div>
											<div id="heartpie" class="col-10 col-md-5 card shadow mr-md-auto"></div>
											<div id="heartpie2" class="col-10 col-md-5 card shadow mt-2 mt-md-0 ml-md-auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" id="tab6" role="tabpanel" aria-labelledby="6-tab">
						<div class="tab-pane-header bg-transparent">
							<div class="col-12 text-center bg-white shadow">
								<span class="card-title my-title mb-2">Poids Corporel</span>
							</div>
							<div class="container-fluid p-0" id="tab-content">
								<div class="row pr-3 pl-3 d-flex justify-content-center align-items-center">
									<div class="col-12 card shadow">
										<div id="poids-line2" class="h-75 d-none"></div>
										<div id="poids-line" class="h-25"></div>
									</div>
									<div class="col-12 mt-4">
										<div class="row d-flex justify-content-center">
											<div class="col-12 col-sm-10 col-lg-8 card shadow p-3 d-none" id="live_poids_pie"></div>
											<div id="poidspie" class="col-10 col-md-5 card shadow mr-md-auto"></div>
											<div id="poidspie2" class="col-10 col-md-5 card shadow mt-2 mt-md-0 ml-md-auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
{% endblock %}
{% block javascript %}
	<script src="{{asset('js/apexchart.js')}}"></script>
	<script src="{{asset('js/data.js')}}"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		charting({{ user.id }},"{{ user.gatewayId }}")

		if (location.hash !== ''){
			$('a[href="' + location.hash + '"]').tab('show');
			return $('a[data-toggle="tab"]').on('shown', function (e) {
			return location.hash = $(e.target).attr('href').substr(1);});
		}
	});

	</script>
{% endblock %}
