{% extends 'partials/_sideNav2.html.twig' %}
{% block main %}
        <div id="list"></div>
        <div class="row-md-6 card bg-light" id="parentdiv">
        <div class="card-header bg-1-lightpink text-right" style="max-height:60px;">
            <div class="text-center d-inline-flex mr-5">Membre:<h6>{{user.firstname|upper}} {{user.lastname|upper}}</h6></div>
            <div class="d-inline-flex mr-auto">Email: <h6>{{user.email}}</h6></div>
        </div>
            <div class="card-img-overlay">
                <img src="{{user.avatar}}" alt="#" class="avatar avatar-meduim">
            </div>
            <div class="card-body row">
            <div class="col-2"></div>
                <div class="col-3">
                    <div class="card-text d-inline-flex"><h6>Adresse: </h6>{{user.address}}</div><hr>
                    <div class="card-text d-inline-flex"><h6>Numéro: </h6>{{user.phone}}</div> <hr>
                </div>
                <div class="col-4 ml-1">
                    <div class="card-text d-inline-flex"><h6>Âge: </h6>{{user.age}}</div><hr>
                    <div class="card-text d-inline-flex"><h6>Date de naissance: </h6> {{user.birthdate|date('d/m/yy')}}</div> <hr>
                </div>
                <div class="col-2 ml-1">
                    <div class="card-text d-inline-flex"><h6>Taille: </h6>180 cm</div><hr>
                    <div class="card-text d-inline-flex"><h6>Poids: </h6>82 kg</div><hr>
                </div>
            </div>
            <div class="card-footer text-center bg-1-lightpink">Date d'ajout: {{user.createdAt|date('d/m/yy')}} </div>
        </div>
         <!--<div class="my-auto"  id="loader"><img src="/images/spinner.svg" alt="#" class="avatar avatar-max my-auto"></div>
            -->   
        <div class="row container-fluid bg-white mt-5">
        </div>
        <div class="row card bg-white">
            <div id="chartContainer" class="charts"></div>
        </div>  
{% endblock %}
{% block javascript %}
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://cdn.zingchart.com/modules/zingchart-zoom-buttons.min.js"></script>
    <script src="{{asset('js/data.js')}}"></script>
    <script src="{{asset('js/chart.min.js')}}"></script>
<script language = "javascript">  
      $(document).ready(function(){
        //$("#loader").show();
        var tensions=[];
        var ids=[];
        const userId="{{user.id}}";
        let LastId = 0; 
        $.get( "/dashboard/patients/"+userId+"/data",function( data ) {
            dt=Object.values(data);  
            for(var i=0;i < dt.length; i++){
                temp=Object.values(dt[i]);
                ids.push(temp[0])
                tensions.push(temp[1]);
                LastId=temp[0];
            }
        }).done(function(){
         $("#loader").hide();
        });
        
        setInterval(function(){
            let lastid =JSON.stringify({"lastid":""+LastId+""});
            $.post("/dashboard/patients/"+userId+"/data",lastid,function(response) {
           if( JSON.stringify(response) !== "[]"){
            for(var i=0;i < response.length; i++){
                tmp=Object.values(response[i]);
                LastId=tmp[0];
            }}
        }); 
        }, 5000);
      });
   </script>
{% endblock %}