{% extends "partials/_sideNav2.html.twig" %}
{% block title %}liste des patients{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/css/B4dtatables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
{% endblock %}
{% block main %}
    
    <div class="container-fluid m-1">
    <div class="row d-flex align-content-center mt-3">
    {% for label , message in app.flashes %}
        <div role="alert" class="alert alert-{{label}} alert-dismissible">
            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
            {% if label == 'warning' %}
            <h2 class="alert-heading">Succès!</h2>
            <hr>
            {% for msg in message %}
            <p> <i class="fas fa-user-slash"></i> {{ msg | raw }} </p>        
            {% endfor %}
            {% elseif label=='success' %}
            <h2 class="alert-heading">Succès!</h2>
            <hr>
            {% for msg in message %}
            <p> <i class="fas fa-user-plus"></i> {{ msg | raw }} </p>        
            {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    </div>
        <div class="mb-3 card-body my-title d-flex bg-1-lightpink align-items-center rounded">
            <div class="mr-auto">Gestion des patients</div>
            <div class="ml-auto">
                <button id="newpat" class="btn bg-2-dark text-white">
                    <i class="fas fa-user-plus"></i>
                </button>
            </div>
        </div>   
        
        <div class="col-12 d-flex shadow bg-light align-content-center justify-items-center">
            <img src="{{asset('images/spinner.svg')}}" id="loader" class="float-center">
            <table id="datatable" class="display w-100 table-striped table-bordered row-border 
            compact table display hover m-1 nowrap">
                <thead>
                <tr>
                    <th><i class="fas fa-user-md "></i>Prénom</th>
                    <th><i class="fa  fa-user-md "></i>Nom</th>
                    <th><i class="fas fa-camera-retro "></i>Avatar</th>
                    <th><i class="fas fa-at"></i>Email</th>
                    <th><i class="fas fa-cogs"></i></th>
                </tr>
            </table>
        </div>

    {% include "partials/_modal.html.twig" with {modalID:"add_patient",form:form,User:"Patient"} %}
    <div tabindex="-1" class="modal fade" id="confirmModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header  bg-1-lightpink">
                    <div class=><span><i class="fas fa-user-plus fa-2x mr-3"></i></span></div>
                    <i class="fas fa-window-close fa-2x close" type="button" aria-hidden="true" data-dismiss="modal"></i>
                </div>
                <div class="modal-body">
                    <form method="post" id="formdel">
                        <button type="submit" id="confdel" class="btn btn-outline-warning">Confirmer suppression</button>
                    </form>
                </div>
        </div>               
    </div>
</div>



{% endblock %}

{% block javascript %}
<script src="{{asset("js/JQdatatable.js")}}"></script>
<script src="{{asset("js/Datatables.bootstrap.js")}}"></script>
<script src="{{asset("js/responsivetables.js")}}"></script>
<script src="{{asset("js/DtB4resp.js")}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#datatable").hide();
            $("#loader").show();
            $.ajax({
                url:"/dashboard/patients",
                method:"GET",
                dataType:"json",
                async:true,
                success:function(data){
                    $('#datatable').DataTable({
                        "pagingType": "simple",
                        responsive:true,
                        "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                        },
                        data:data,
                        columns:[
                            {'data':'firstname'},
                            {'data':'lastname'},
                            {'data':'avatar',
                             "render": function (data, type, JsonResultRow, meta) {
                            return '<img class="avatar avatar-small" src="'+JsonResultRow.avatar+'">';
                                }},
                            {'data':'email'},
                            {'data':'id',
                            "render":function(data,type,JsonResultRow,meta){
                                return '<button class="btn btn-sm btn-outline-danger m-1 delete" id="'+JsonResultRow.id+'"><i class="fas fa-trash"></i></button><a href="/dashboard/patient/'+JsonResultRow.id+'" class="btn btn-sm btn-outline-info m-1"><i class="fas fa-id-card-alt"></i></a><a href="/dashboard/patient/'+JsonResultRow.id+'/data" class="btn btn-sm btn-outline-primary m-1"><i class="fas fa-chart-line"></i></a>'
                                }
                            }

                        ],
                        
                    })
                }
            }).done(function(){
                $("#loader").hide();
                $("#datatable").show();
            });
        });
    var user_id;
    $(document).on('click','.delete',function(){
        user_id=$(this).attr('id');
        $('#confirmModal').modal('show');
        $('#formdel').attr("action","/dashboard/patients/"+user_id+"/delete");
        });
    $(document).on('click','#newpat',function(){
        $('#add_patient').modal('show');
    });
    </script>
{% endblock %}