{% extends "partials/_sideNav2.html.twig" %}
{% block title %}liste des patients{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/css/B4datatables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block main %}
    {% for label , message in app.flashes %}
        <div class="toast toast-{{label}}" role="alert" aria-atomic="true" style="z-index: 1000;position:absolute;top: 0;right: 0" data-animation="true" data-auhide="true" data-delay="2000" aria-live="assertive" aria-atomic="true">
            <div class="toast-header toast-{{label}}">
                <strong class="mr-auto"><i class="fas fa-check-circle"></i> Succès!</strong>
                <small>à l'instant</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {% if label == 'warning' %}
                    {% for msg in message %}
                        <p> <i class="fas fa-user-slash"></i> {{ msg | raw }} </p>.
                    {% endfor %}
                {% elseif label=='success' %}
                    {% for msg in message %}
                        <p> <i class="fas fa-user-plus"></i> {{ msg | raw }} </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
<div class="container-fluid m-0 m-sm-2">
    <div class="mt-3 mb-3 card-body my-title d-flex bg-1-lightpink align-items-center rounded">
            <div class="mr-auto">Gestion des patients</div>
            <div class="ml-auto">
                <button data-target="#add_patient" data-toggle="modal" class="btn bg-2-dark text-light">
                    <i class="fas fa-plus"></i><i class="far fa-user"></i>
                </button>
            </div>
        </div>

        <div class="d-flex mt-3 justify-items-start card shadow rounded p-2 w-100">
            <div id="loader" class="spinner"></div>
            <table id="datatable" class="table table-sm compact d-none hover w-100">
                <thead>
                <tr>
                    <th scope="col"><i class="far fa-user"></i> Prénom</th>
                    <th scope="col"><i class="far  fa-user"></i> Nom</th>
                    <th scope="col"><i class="fas fa-camera-retro"></i> Avatar</th>
                    <th scope="col"><i class="fas fa-mail-bulk"></i> Email</th>
                    <th scope="col"><i class="fas fa-users-cog"></i> Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    {% include "partials/_modal.html.twig" with {modalID:"add_patient",form:form,User:"Patient"} %}
    <div tabindex="-1" class="modal fade" id="confirmModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                    <div class="modal-header">
                        <div class="my-title"><span><i class="fas fa-user-slash mr-3"></i></span> Supprimer patient</div>
                        <i class="far fa-times-circle close" type="button" aria-hidden="true" data-dismiss="modal"></i>
                    </div>
                    <div class="modal-body text-center">
                        <bold>Voulez vous vraiment supprimer ce patient !</bold>
                        <p>Cette opération est irréversible</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <form method="post" id="formdel">
                            <button type="submit" id="confdel" class="btn btn-warning"><i class="fas fa-exclamation-triangle"></i> Confirmer suppression</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/JQdatatable.js')}}" ></script>
<script src="{{ asset('js/Datatables.bootstrap.js')}}"></script>
<script src="{{asset('js/responsivetables.js')}}"></script>
<script src="{{asset('js/DtB4resp.js')}}"></script>
<script>
        $(document).ready(function(){
            if("{{errors}}" == 1){
               $('#add_patient').modal('show');
            }
            $.ajax({
                url:"/dashboard/patients",
                method:"GET",
                dataType:"json",
                async:true,
                success:function(data){
                $("#loader").hide();
                    $('#datatable').DataTable({
                        "pagingType": "simple_numbers",
                        responsive:true,
                        "language": {
                        "url": "{{ asset('js/DataTable_Frensh.json') }}"
                        },
                        data:data,
                        columns:[
                            {'data':'firstname'},
                            {'data':'lastname'},
                            {'data':'avatar',
                             "render": function (data, type, JsonResultRow, meta) {
                            return '<img class="avatar avatar-small" src="'+JsonResultRow.avatar+'">';
                                }},
                            {'data':'email'},
                            {'data':'id',
                            "render":function(data,type,JsonResultRow,meta){
                                return '<a href="/dashboard/patient/'+JsonResultRow.id+'/data" class="text-primary m-1"><i class="fas fa-chart-line"></i></a><a class="m-1 delete text-danger" id="'+JsonResultRow.id+'"><i class="fas fa-trash"></i></a><a href="/profil/'+JsonResultRow.id+'" class="text-info m-1"><i class="fas fa-id-card-alt"></i></a>'
                                }
                            }

                        ],
                    });
                $("#datatable").removeClass('d-none');
                }
            })  
        });

    $(document).on('click','.delete',function(){
        let user_id=$(this).attr('id');
        $('#confirmModal').modal('show');
        $('#formdel').attr("action","/dashboard/patients/"+user_id+"/delete");
        });
    </script>
{% endblock %}