<div class="container-fluid m-3" id="formContainer">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.type) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
        <div class="col-12">
            {{ form_row(form.dated_for) }}
        </div>
        <div class="col-12">
            {{form_row(form.end_in)}}
        </div>
    </div>
    <div class="col-12">
        {{form_row(form.parts)}}
    </div>
    <hr>
    <div class="text-center mb-4">
        <button class="btn text-center bg-material-ui text-white" type="submit" id="formsubmit"><i class="far fa-save fa-2m"></i> Enregistrer</button>
    </div>
    {{ form_end(form) }}
</div>

